*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Montserrat", serif;
color: black;
}
/*Нужно чтобы картинки когда изменялись в размерах для моб версии, не заходили на друг друга*/
img{
    max-width: 100%;
}

.container{
max-width: 1140px;
margin-left:auto;
margin-right:auto;
padding-left: 15px;
padding-right: 15px;
}

.none{
    display: none !important;
}
/*Header*/

.header{
    position: relative;
    /*Определяем модель flex-box для блока  .header*/
    display: flex; 
    flex-direction: column; /*flex выстраиваем в колонку, columm*/

    justify-content: center; /*Основная ось*/
    align-items: center;  /*Поперечная ось*/

    width: 100%;
    height: 100vh;

    background-color:#556A85;
    background-image: url("./../css/images/header/header-s.jpg");
    background-size:cover;
    background-position: center;
    
    

}
.header-title{
    margin: 0;
    margin-bottom:25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: #fff;
}
.header-subtitle{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.header-arrow{
    width:48px;
    height:48px;
    /*background-color: red;*/
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -24px;
    transform: translate(-50%, 0px);

}

/*Portofio*/

.portfolio{
    padding-top:80px;
    padding-bottom:155px;
}

.portfolio-header{
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000;
    margin: 0;
    margin-bottom: 70px;
}

.portfolio-wrap{
    display: flex !important;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0;
  
    }

.card{
    margin-bottom: 30px;
    padding: 20px;
    max-width: 540px;
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(126, 155, 189, 0.35);
    transition: transform 0.2s ease-in;
}

.card:hover{
    transform: translateY(-15px);
}

.card-link{
display: block;
padding: 20px;
color:black;
text-decoration: none;

}

.card-link:hover{
    color:rgb(39,91,236);
}

.card:last-child, .card:nth-last-child(2){
  margin-bottom: 0;
  /*Это чтобы у нас два последних элемента не было отступа, это предпоследний*/
}


.card-img{
margin-bottom: 20px;
}


.card-title{

    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    
}

.card-p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    
}

/*Footer*/

.footer{
    background:#1E4776;
    padding-top: 45px;
    padding-bottom: 130px;
    color:white;
}

.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col{
    max-width: 350;
    flex-grow:1 ;
}

.footer-copyright{
    max-width: 350px;
    flex-grow:1;
    color:#7E9EC9;
    line-height: 1,3;
}

.footer-copyright-name{
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 15px;
}

.footer-copyright p {
    margin:0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}

.footer-icons{
    max-width: 350px;
    flex-grow:1;
}

.footer-icons-row  {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
}

.footer-icons-row{
    display: flex;
    align-items:center;

   

}
.footer-icons-row > * + * {
    margin-left:30px;

}


.footer-button{
    /*Отвечает отступы*/
display:inline-block;
height: 50px;
padding-left: 30px;
padding-right: 30px;

/*Отвечает за высоту контейнера*/
border: 3px solid #fff;
border-radius: 50px;

/*Отвечает за text*/
color:whitesmoke;
line-height: 44px;
font-weight: 700;
font-size: 16px;
text-transform: uppercase;
text-decoration: none;

transition: all 0.2 ease-in;
}

.footer-button:hover{
background-color: white;
color:#1E4776;
}

.footer-contacts{
    max-width: 350px;
    flex-grow:1;
}

.footer-contacts p {
margin:15px 0;

font-size: 16px;
line-height: 1.3;
color: #7e9ec9;

}

/*Project*/

.project{
padding:80px 0 120px;
text-align: center;
}
.project-header{
    margin:0;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
    color: #000;
    margin-bottom: 40px;
}


.project-img{
margin-bottom: 70px;
}



.project-description{
    margin:0 auto 60px;
    max-width: 730px;

}

.project-description p {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

.project-btn-back{
     /*Отвечает отступы*/
display:inline-block;
height: 60px;
padding-left: 30px;
padding-right: 30px;

/*Отвечает за высоту контейнера*/
border: 3px solid blue;
border-radius: 50px;

/*Отвечает за text*/
color:blue;
line-height: 54px;
font-weight: 700;
font-size: 16px;
text-transform: uppercase;
text-decoration: none;

transition: all 0.2 ease-in;
}

.project-btn-back:hover{
    background-color:blue;
    color:white;
}



